<a href="https://colab.research.google.com/github/PAULTYLER192/Machine_learning_/blob/master/simple_dataframe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd

# Create the DataFrame
data = {
    "Name": ["John", "Alice", "Bob", "Diana"],
    "Age": [28, 34, 45, 29],
    "City": ["New York", "Los Angeles", "Chicago", "Boston"],
    "Salary": [70000, 80000, 50000, 60000]
}
df = pd.DataFrame(data)

# Display the DataFrame
print(df)

    Name  Age         City  Salary
0   John   28     New York   70000
1  Alice   34  Los Angeles   80000
2    Bob   45      Chicago   50000
3  Diana   29       Boston   60000